:root {
    --background: #FFFFC7;
    --primary: #473335;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    padding: 0;
    margin: 0;
    border: 0;
}

.card {
    background-color: #E3BAC6;
    color: var(--primary);
    width: 100%;
    max-width: 340px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 3px 3px 5px var(--primary);
    padding: .5em;
}

.btn {
    border: none;
    font-size: 1.1em;
    min-width: 6em;
    padding: 6px 4px 6px 4px;
    border-radius: 4px;
    cursor: pointer;
    border: rgb(0,0,0,0) 2px solid;
}

.btn-sm {
    font-size: 0.75em;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}

.btn-outline {
    background-color: rgb(0,0,0,0);
}

.btn-primary.btn-outline {
    color: var(--primary);
}