.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.add-card:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.add-card p {
    margin: 0;
}

.add-card__plus {
    font-size: 3em;
}