.grid-container {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    max-width: 1200px;
}

.grid-element {
    display: flex;
    justify-content: center;
}